
<div id="content" class="centerBox clearfix" lang="fa">

	<div class="clearfix"></div>
	<div class="down-footer">
		<div class="paral marg">
			<div class="parts">
				<div class="part">
					<h3>راه های ارتباطی</h3>
					<ul class="contact-content">
						<li>شماره تماس : 08622558899</li>
						<li>email : example@vasa.com</li>
					</ul>
					<div >
						<div class="social">
							<h3>مارا در شبکه های اجتماعی دنبال کنید</h3>
							<a href="" id="telegram">
								<img src="image/icon/telegram.png" alt="">
							</a>
							<a href="" id="instagram">
								<img src="image/icon/instagram.png" alt="">
							</a>
						</div>
					</div>
				</div>
				<div class="part">
					<div class="rows">
						<div class="logo">
						</div>
						<div class="clearfix"></div>	
						<div class="text">
							<!-- توضیح اجمالی -->
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنلبد</p>
							<!-- آدرس -->
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده شرایط فعلی تکنلبد</p>
						</div>
					</div>
				</div>
				<div class="part">
					<div class="contact">
						<ul>
							<li><a href="index.php">صفحه اصلی</a></li>
							<li><a href="contact-us.php">تماس با ما</a></li>
							<li><a href="about-us.php">درباره ما</a></li>
							<li><a href="">رشته ها</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="cl"></div>
<div id="cp">
	<div class="centerBox paral marg clearfix">
		Copyright By © <b>vasa</b> - 2018
	</div>
</div>