
<div id="header-content" class="centerBox clearfix position" lang="fa">
	<div class="logs">
		<div class=" paral marg">
			<div class="content">
				<div class="parts">
					<div class="part">
						<ul>
							<!-- <li class="show_menu">
								<p>ورود به حساب کاربری</p>
								<img src="image/icon/person.png" alt="">
							</li> -->
							<li class="show_menu">
								<p>محمد عرفان مصباح</p>
								<img src="image/icon/person.png" alt="">
							</li>
						</ul>
					</div>
					<div class="part">
						<div class="content">
							<h3>سامانه هوشمند استعدادیابی ورزشی واسا</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div id="menu">
		<div class="paral marg">
			<div class="content">
				<div class="parts">
					<div class="part">
						<ul class="log">
							<!-- <li class="show_menu">
								<img src="image/icon/person.png" alt="">
								<p>ورود به حساب کاربری</p>
							</li> -->
							<li class="show_menu">
								<img src="image/icon/person.png" alt="">
								<p>محمد عرفان مصباح</p>
							</li>
						</ul>
					</div>
					<div class="part">
						<div class="content">
							<ul class="nav">
								<li class="active">صفحه اصلی</li>
								<li>رشته ها</li>
								<li>درباره ما</li>
								<li>تماس با ما</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div id="login-info" class="">
		<div class="first">
			<div>
				<h3>محمد عرفان مصباح</h3>
				<p>کاربر عادی</p>
			</div>
			<img src="image/icon/personal-account.jpg" alt="">
		</div>
		<div class="clearfix"></div>
		<div class="second">
			<ul>
				<li><a href="">داشبرد</a></li>
				<li><a href="">اطلاعات شخصی</a></li>
				<li><a href="">تغیر کلمه عبور</a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
		<div class="closes">
			<a href="">خروج</a>
		</div>
	</div>
	
</div>
<div class="clearfix"></div>
